<template>
    <div id="carrusel">
        <div class="contenedor__carrusel">
            
            <img :src="'/imagenes/'+prefix+(g.url == undefined ? g.urlImagen : g.url)" 
                v-for="(g,i) in galeria" v-bind:key="g.id"
                @click="fireLightbox(i)">
                
        </div>
        <button class="btn btn-floating white carrusel__left"
            @click="accion(false, true)" v-show="index >= 0"
                ref="carrusel__left"><</button>

        <button class="btn btn-floating white carrusel__right"
            @click="accion(true, true)" ref="carrusel__right"
                v-show="right">></button>
    </div>
</template>

<script>
    
    export default {
        props:['galeria', 'tiempo', 'prefix'],
        data(){
            return{
                widthT:0,
                movimiento:0,
                index:-1,
                imgs:[],
                time:0,
                right:false
            }
        },
        methods:{
            estilos(){
                const h = $(this.$el.parentNode).height();
                const w = $(this.$el.parentNode).outerWidth();
                
                $(this.$el).height(h);

                $(this.$refs.carrusel__right).css({
                    'margin-top': '-'+(h/2 + 25)+'px',
                    'margin-left': (w - 55)+'px'
                    
                });

                $(this.$refs.carrusel__left).css({
                    'margin-top': '-'+(h/2 + 25)+'px',
                });
            },
            resize(){
                const self = this;
                window.onresize = function(){
                    setTimeout(function(){
                        self.estilos();
                    },500)
                }   
            },
            fireLightbox(active){

                let main;
                if(this.galeria[active].urlImagen == undefined){
                    main = '/imagenes/'+ this.prefix+ this.galeria[active].url;
                }else{
                    main = '/imagenes/'+ this.prefix+this.galeria[active].urlImagen;
                }

                let imgs = [main]
                
                this.galeria.forEach((e, i)=>{
                    if(active != i){
                        if(e.urlImagen == undefined){
                            imgs.push('/imagenes/'+this.prefix+e.url);
                        }else{
                            imgs.push('/imagenes/'+this.prefix+e.urlImagen);
                        }
                    }
                });

                busData.$emit('lightbox-fire', imgs);
            },

            mover(){
                const e = $(this.$el).find('.contenedor__carrusel')[0];
                $(e).css('margin-left', '-'+this.movimiento+'px');
            },

            calcular(){
                this.movimiento = 0;

                for(let i=0; i<= this.index; i++){
                    this.movimiento += $(this.imgs[i]).width();
                }

                this.mover();
            },
            validarAncho(){
                const w = $(this.$el.parentNode).outerWidth();
                let w2 = 0;

                this.imgs.forEach( img => {
                    w2 += $(img).width();
                });

                if(w2 < w){
                    return false;
                }

                w2 = 0;
                for(let i = this.index; i < this.imgs.length; i++){
                    w2 += $(this.imgs[i]).width();
                }

                if(w2 < w){
                    return false;
                }

                return true;
            },
            validar(){
                                
                if(this.index == this.imgs.length-1){
                    return false;
                }

                return this.validarAncho();

            },

            accion(sentido, click){
                if(click != undefined){
                    this.time = 0;
                }

                if(this.validar()){
                    if(sentido){
                        this.index++;
                    }else{
                        if(this.index >= 0){
                            this.index--;
                        }
                    }
                }else{
                    this.index = -1;
                }

                this.calcular();
                
            },

            automatico(){
                const self = this;

                setInterval(function(){
                   if(self.time >= self.tiempo / 50){
                        self.accion(true);
                        self.time = 0;
                   }
                   self.time++;

                },self.tiempo / 50);
            }
        },
        mounted(){
            const self  = this;
            
            setTimeout(function(){
                 self.right = self.validarAncho();
            }, 1000);

            this.estilos();
            this.resize();
            this.imgs = $(this.$el).find('img').toArray();  
            this.automatico();              
        }
    }
</script>

<style>
    #carrusel{
        width: 100%;
        height: 0px;
        overflow: hidden;
        background-color: #212121;
        transition: all .1s ease-out;
    }

    .contenedor__carrusel{
        width: auto;
        height: 100%;
        display: flex;
        transition: all 2s cubic-bezier(.72,.54,.2,.78);
        
    }

    .contenedor__carrusel img{
        margin: 0px;
        padding: 0px;
        height: 100%;
        cursor: zoom-in;
    }
    
    .carrusel__left{
        position: absolute;
        margin-left: 10px;
        color: black;
        height: 45px;
        width: 45px;
    }

    .carrusel__right{
        position: absolute;
        color: black;
        height: 45px;
        width: 45px;
    }

</style>
