<template>
    <div>
        <form @submit.prevent="enviar($event)">                
            <div class="row">
                <div class="col s12">
                    <input class="inputs-formulario" 
                    type="text" placeholder="Nombre" 
                    name="nombre" required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <input class="inputs-formulario" 
                        type="email" placeholder="Correo Eletronico" 
                            name="correo" required>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12">
                    <textarea class="text-formulario" 
                        name="mensaje" id="" cols="120" 
                            rows="10" placeholder="Mensaje"
                            required></textarea>
                </div>
            </div>

            <div class="row col s12 center">
                <input class="btn btn-enviar" 
                    type="submit" name="enviar" value="Enviar">
            </div>

        </form>

        <toast-component :bus="bus"></toast-component>
    </div>
</template>

<script>
    import Vue from 'vue';
    import toastComponent from './toas.vue';

    const bus = new Vue();

    export default {
        data(){
           return{
                bus
           }
        },
        methods:{
            enviar(e){
                const form = new FormData(e.target);
                axios.post('/api/mensajes/crear', form)
                .then(d => {
                   e.target.reset();
                   bus.$emit('toast-fire', 'Mensaje Enviado');
                });
            }
        },
        components:{
            toastComponent
        }
    }
</script>

<style>

</style>
