<template>
    <footer>
        <div class="links">
            <ul>
                <li>
                    <a href="#">
                        Inicio
                    </a>
                </li>
            
                <li>
                    <a href="#">
                        Tours
                    </a>
                </li>

                <li>
                    <a href="#">
                        Galeria
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        Contacto
                    </a>
                </li>

                <li>
                    <a href="#">
                        Nosotros
                    </a>
                </li>

            </ul>
        </div>
        <div class="icons">
            <div class="ico"><a href="#"><i class="fa fa-facebook-square"></i></a></div>
            <div class="ico"><a href="#"><i class="fa fa-twitter"></i></a></div>
            <div class="ico"><a href="#"><i class="fa fa-youtube-play"></i></a></div>
        </div><br>
        <div class="copy">
            <strong>©2017  OverAlestur</strong>
        </div>
    </footer>  
</template>
