<template>
    <div id="lightbox" v-if="active">
        <div class="lightbox__img" @click="close()">
            <img :src="imgs[0]" @click="close()" class="showAnimation">
        </div>

        <div class="lightbox__imgs">
            <img v-for="(img, i) in imgs" :src="img" 
            v-bind:key="i" @click="changePostions(img)" 
                class="showAnimation">
        </div>
    </div>
</template>

<script>
    export default {
        props:['bus'],
        data(){
            return{
                imgs:[],
                active:false
            }
        },
        methods:{
            changePostions(img){
                
                this.imgs = this.imgs.filter(i => {
                    if(i != img){
                        return i;
                    }
                });
                this.imgs.unshift(img);
            },
            close(){
                this.active = false;
            }
        },
        watch:{
            active:function(e){
                const self = this;
                setTimeout(function(){
                    if(e){
                        $('body').css('overflow','hidden');
                        $($(self.$el).find('.lightbox__imgs')[0]).scrollTop(0)
                    }else{
                        $('body').css('overflow','auto');
                    }
                },500);
            }
        },
        mounted(){
            const self = this;
            this.bus.$on('lightbox-fire', data=>{
               self.imgs = data;
               self.active = true;
            });
        }
    }
</script>

<style>
    #lightbox{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #222222;
        top: 0;
        z-index: 9999999999;
        display: flex;
    }

    .lightbox__img{
        cursor: zoom-out;        
        flex: 5;
        display: flex;
        padding: 10px;
        overflow: auto;
    }

    .lightbox__img img{
        cursor: zoom-out;
        max-height: 100%;
        max-width: 100% !important;
        margin: auto;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.9);
    }

    .lightbox__imgs{
        direction: rtl;
        flex: 1;
        overflow: auto;
        background-color: #212121;
        display: flex;
        flex-direction: column;
    }

    .lightbox__imgs img{
        width: 100%;
        cursor: pointer;
    }


    @keyframes lightboxShowAnimation {
    0%{opacity:  0};
    100%{opacity: 1};
}

    #lightbox .showAnimation{
        animation-name: lightboxShowAnimation;
        animation-duration: .5s;
    }
    
    @media (max-width:425px){
        #lightbox{
            flex-direction: column;
        }
        .lightbox__imgs{
            direction:ltr;
            flex-direction: row;
            
        }
        .lightbox__imgs img{
            height: calc(100% - 15px);
            width: auto;
        }
    }
</style>
