<template>
    <nav id="nav" :class="nombreClase">
        <div class="container">
            <div class="nav-wrapper">
                <a :href="url" class="brand-logo">
                    <img :src="logo" height="50">
                </a>
                <div class="right hide-on-med-and-up" id="ico-nav" @click="change()">
                        <i class="fa fa-bars"></i>
                </div>

                <ul id="nav-mobile" class="hide-on-small-only">
                    <slot name="uno"></slot>
                </ul>

            </div>
        </div>

        <div class="snav" 
            :style="estilo" @click="change()">
             <slot name="dos"></slot>
        </div>

        <div class="bg " v-if="estado" @click="change()"></div>
    </nav>
</template>

<script>
    export default {
        props:['url', 'clase', 'logo'],
        data(){
            return{
                estado:false,
                estilo:'right:-200px;',
                item:null
            }
        },
        computed:{
            nombreClase(){
                return this.clase;
            }
        },
        methods:{
            change(){
                if(this.estado){
                    this.estado = false;
                    this.estilo = 'right:-200px;'
                }else{
                    this.estado = true;
                    this.estilo = 'right:0px;'
                }
            },
            addActive(){
                let hash = location.hash;
                let e  = $(this.$el).find('.link[active="'+hash+'"]');
                $(e).addClass('active');
                this.removeActive(e);
            },
            removeActive(e){
                if(this.item == null){
                    this.item = e;
                }else{
                    $(this.item).removeClass('active');
                    this.item = e;
                }
            },
            liClick(){
                 
            }
        },
        mounted(){
            
            if(document.URL.split('#').length == 1){
                location.replace("/#home");
            }else{
                this.addActive(false);
                
            }
            const self = this;

            $(this.$el).find('li').click(function(e){
                
                let hash = e.target.hash;

                if(hash == undefined){
                    hash = $(e.target).parent()[0].hash;
                }

                if(hash != ''){
                    e.preventDefault();
                }
                
               $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 1500);

                location.replace(hash);
                self.addActive(true);
            });
           
        }
    }
</script>

<style>
    #nav{
        position: fixed;
        top:0px;
        width: 100%;
        height: 70px;
        z-index: 10;
        overflow: hidden;
    }

    #nav .nav-wrapper{
        width: 100%;
        height: 60px;
    }
    .navMobile li > a{
        color: black;
    }
    #nav-mobile{
        line-height: 70px;
    }

    #nav .nav-wrapper .brand-logo{
        height: 40px !important;
        margin-top: 8px;
    }

    #nav .bg{
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 10;
        top:0px;
        background: rgba(0, 0, 0, 0.5);
    }

    #nav  .snav{
        width: 200px;
        height: 100vh;
        position: fixed;
        z-index: 999999;
        top:0px;
    }

    #nav  .snav li{
        width: 100%;
        border-bottom: 0.6px solid rgba(6, 6, 6, 0.14);
        text-transform: uppercase;
        height: 50px;
    }

    #nav .snav{
        background-color: #ffffff;
        color: black;
    }

    #nav  .snav li:hover{
        background: #fafafa;
    }

    #nav  .snav li a{
        width: 100%;
        height: 100%;
        text-align: left;
        font-size: 1.2em;
    }

    #nav  .snav li a:hover{
        background: transparent !important;
    }

    #nav i {
        cursor: pointer;
    }
</style>