<template>
    <div id="toast" v-if="activo">
        <span class="toast__mensaje">{{msg}}</span>
    </div>
</template>

<script>
    export default {
        props:['bus'],

        data(){
            return{
                msg:'Soy el mensaje',
                activo:false
            }
        },
        methods:{
            close(){
                const self = this;
                setTimeout(()=>{
                    self.activo = false;
                }, 3000);
            }
        },
        mounted(){
            const self = this;
            this.bus.$on('toast-fire', msg =>{
                self.msg = msg;
                self.activo = true;
                self.close();
            });
        }
    }
</script>

<style>

    @keyframes toastAnimation{
        0%{opacity: 0;};
        100%{opacity: 1;};
    }

    #toast{
        position: fixed;
        bottom: 15px;
        right: 15px;
        background-color: white;
        z-index: 999999999999999999999999;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);
        height: 80px;
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        animation-name: toastAnimation;
        animation-duration: 1s;
    }

    .toast__mensaje{
        font-size: 1em;
    }
</style>
