@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600');

*{
    padding: 0px;
    margin: 0px;
    transition: all .3s ease-in;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
::-webkit-input-placeholder {
    color: #555555 !important;
}

::-moz-placeholder {
    color: #555555 !important;
}

::-webkit-scrollbar {
    width: 7px;

}

::-webkit-scrollbar-thumb {
     background-color: #9e9e9e;

}

.reset{
    margin: 0px !important;
    padding: 0px !important;
}

.centered-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-divider{
    border-bottom: 1px solid #e0e0e0;
}
.title-divider .title{
    margin-left: 10px;
}

.smallIcon{
    font-size: 14px !important;
}

.extremos{
    display: flex;
    justify-content: space-between;
}

#admin-side{
    position: fixed;
    top:0px;
    left: 0px;
    height: 100vh;
    width: 220px;
    background-color: #039be5;
    z-index: 999;
}

#admin-side .menu{
    position: fixed;
    top: 10px;
    right: 10px;
    display: none;
    z-index: 999999999;
}

#admin-side .menu i {
    font-size: 14px;
}

#admin-side  .link{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 1.03em;
}

#admin-side  .link:hover{
    background-color: #0288d1;
}

#admin-side  .link.active{
    background-color: #0288d1;
    font-weight: bold;
}

#admin-section{
    height:100vh;
    width: calc(100% - 220px);
    margin-left: 220px;
    background-color: #f5f5f5;
    overflow-y: hidden;
}

#admin-section input[type="text"]:focus,input[type="email"]:focus, 
    textarea:focus,input[type="password"]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
  }

#admin-side.activo{
    margin-left: 0px !important;
}

@media (max-width:800px){
    #admin-side{
        margin-left: -222px;
    }



    #admin-side .menu{
        display: block;
    }

    #admin-section{
        width: 100% !important;
        margin-left: 0px;

    }
}

#admin-section .contenido{
    width: calc(100% - 0px);
    height: calc(100% - 0px);
}


#tures{
    height: 100%;
    width: 100%;
    display: flex;
}

#admin-section .listado{
    height: 100%;
    overflow:auto;
    width: 260px !important;
}


#admin-section  .crear{
    position: fixed;
    top: 10px;
    right: 10px;
}

@media (max-width:800px){
    #admin-section  .crear{
        top:60px;
    }
}


#admin-section  .elemento{
    border-bottom: 1px solid #e0e0e0;
    height: 40px;
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    display: flex;
}

#admin-section  .elemento .texto{
    flex: 1;
    height: 35px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 2.5px;
}

#admin-section .elemento .eliminar{
    color: #757575;
    margin-right: 10px;
}

#admin-section  .elemento:hover{
    background-color: #eeeeee !important;
}

#admin-section .elemento.activo{
    background-color: #eeeeee !important;
}

@keyframes admin-detalle{
    0%{margin-top: 100vw;}
    100%{margin-top: 0px;}
}

#admin-section .detalle{
    height: 100%;
    flex:1;
    overflow:auto;
    animation: admin-detalle .5s;
    position: relative;
    z-index: 2;
    padding-top: 20px;
}

#admin-section .detalle--back{
    z-index: 0 !important;

}

#admin-section .detalle--fullCenter{
    display: flex;
    justify-content: center;;
    align-items: center;
    z-index: 0 !important;
}

#admin-section .detalle .cerrar{
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tures .detalle section{

}
#tures .detalle section .elementos{
    max-height: 60vh;
    overflow: auto;
    margin-bottom: 10px;
}

@media(max-width:425px){
    #admin-section .listado{
        width: 100% !important;
    }

    #admin-section .detalle{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        z-index: 10;
    }

}


/* animaciones */

@keyframes showAnimation {
    0%{opacity:  0};
    100%{opacity: 1};
}

.showAnimation{
    animation-name: showAnimation;
    animation-duration: .5s;
}


/* extras de componentes */
#confirm-modal{
    width: calc(100vw - 200px) !important;
}

@media (max-width:800px){
    #confirm-modal{
        width: 100vw !important;
    }
}
