@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600');
.app{
    background-attachment: fixed;
    background-image: url('../img/background.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    font-family: 'Open Sans', sans-serif;
    transition:all .15s;
}

#tures{
    margin-top: 15vh;
    min-height: calc(85vh - 150px);
}
.card-tures{
    width: 300px !important;
    min-height: 250px !important;
    margin: 5px;
}
.footer-card{
    transform: translateY(-83px);
    background-color: rgba(0, 0, 0, 0.75);
    padding: 7px;
    padding-left: 10px;
}
.card-tures > .precio{
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    padding: 0px 7px 0 8px;
    color: white;
    z-index: 3;
}
.footer-card > p{
    margin: 0;
    color: #fff;
    font-weight: bold;
}
.rutaa p:nth-child(2), p:nth-child(3){
    margin-left: 3px;
}
.nav{
    background-color: rgba(41, 41, 41, 0.17) !important;
}

::-webkit-input-placeholder {
    color: #555555 !important;
}

::-moz-placeholder {
    color: #555555 !important;
}

.cambiar{
    background-color: rgba(255, 2255, 255, 0.5) !important;
    box-shadow: 0px 1px 4px #000 !important;
    color: black;                                                                                                                                                                                                                                                                                                                                       
}
@media(min-width: 993px){
    #ico-nav{
        visibility: hidden;
    }
}
@media(max-width: 768px){
    nav .brand-logo{
        left: 25% !important;
    }
    .brand-logo{
        width: 35%;
    }
}
footer{
    width: 100%;
    min-height: 72px;
    padding-top: 5px;
}
footer .icons .ico {
    background-color: #202020;
}
footer .icons .ico a i{
    color: rgb(237, 237, 237);
}
footer .links ul {
    display: flex;
    padding-left: 6.6vh;
}
footer .links ul li{
    margin-left: 10px;
    text-transform: uppercase;
}
footer .links ul li a{
    color: black;
}
footer .icons{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 6.6vh;
    margin-top: 5px;
}
footer .copy{
    min-height: 50px;
    text-align: center;
    padding-top: 14px;
    background-color: #DFDFDF;
    margin-top: 5px;
}
footer .icons .ico{
    width: 30px;
    height: 30px;
}
footer .icons .ico > a {
    font-size: initial !important;
}
@media (max-width: 425px){
    footer .links ul{
        padding-left: 0;
        justify-content: center;
    }
    footer .links ul li{
        font-size: 0.9rem;
    }
    footer .icons{
        justify-content: center;
        padding-left: 0;
    }
    .brand-logo > img{
        width: 100% !important;
        margin-top: 0.8rem !important;
    }
    .formulario-filtrar input[type=text]{
        max-width: 100% !important;
    }
    .info-tour {
        flex-direction: column;
        align-items: initial !important;
        padding-left: 1rem !important;
    }
    .content-tour{
        flex-direction: column;
    }
    .content-tour > .info-hito{
        width: 100% !important;
    }
    .content-tour > .sections-tour{
        width: 100% !important;
    }
    .content-tour > .sections-tour{
        margin-left: 0 !important;
    }
}
.index-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.brand-logo > img{
    width: 60%;
}
.index-banner > h1{
    color: white;
    font-family: inherit;
}
.btn-tour{
    padding: 1rem;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    min-width: 200px;
}
.btn1{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position:relative;
    display:flex;
    
    height:35px;
    border-radius:6px;
    -moz-border-radius:6px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.btn1 span.icon,.btn1 span.title{
    display:block;
    position:relative;
    line-height:35px;
    padding:0 30px;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}
.btn1 span.left{
    float:left;
    border-radius:6px 0 0 6px;
    -moz-border-radius:6px 0 0 6px;
    -webkit-border-radius:6px 0 0 6px;
}
.btn1 span.right{
    float:right;
    border-radius:0 6px 6px 0;
    -moz-border-radius:0 6px 6px 0;
    -webkit-border-radius:0 6px 6px 0;
}
.btn1 span.icon{
    font-size:23px;
    background-color:#fbfbfb;
    -webkit-box-shadow:0 3px 0 0 #bbb8b8;
    box-shadow:0 3px 0 0 #bbb8b8;
    color: #e42214;
}
.btn1 span.title{
    -webkit-box-shadow:0 3px 0 0 #b92217;
    box-shadow:0 3px 0 0 #b92217;
    background-color:#e42214;
}
.btn1 span.arrow-left,.btn1 span.arrow-right{
    position:absolute;
    width:0;height:0;
    border-top:18px solid transparent;
    border-bottom:17px solid transparent;
    -webkit-transition-property:left,right;
    transition-property:left,right;
}
.btn1.right span.arrow-right{
    left:0;
    -webkit-box-shadow:-10px 0 0 0 #e42214,-10px 3px 0 0 #b92217;
    box-shadow:-10px 0 0 0 #e42214,-10px 3px 0 0 #b92217;
    border-left:10px solid #e42214;
}
.btn1 span.slant-left,.btn1 span.slant-right{
    position:absolute;
    width:0;
    height:0;
    border-top:0 solid transparent;
    border-bottom:50px solid transparent;
    -webkit-transition-property:left,right;
    transition-property:left,right;
}
.btn1:active,.btn1.active{
    height:35px;
}
.btn:hover span.arrow-left{
    right:10px;
}
.btn1:hover span.arrow-right{
    left:10px;
}
.btn1:hover span.slant-left{
    right:10px;
}
.btn1:hover span.slant-right{
    left:10px;
}
.btn1-small{
    height:30px;
    font-size:12px;
    line-height:10px;
}
.icons > .ico{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-card1 > span{
    width: 80%;
    font-size: 1.1em;
}
.ico > a{
    font-size: x-large;
}
.ico > a i{
    color: rgba(0, 0, 0, 0.77);
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content > span{
    max-width: 80%;
}
.card-content-tour{
    padding-left: 1rem;
    margin-bottom: 2rem;
}
.card-content-tour strong{
    font-weight: bold !important;
    text-transform: uppercase;
    color: #333232;
}
.card-content-tour p{
    color: black;
}
#content-tures{
    margin-top: 10px;
}
.info-nosotros{
    background-image: url('../img/background1.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;    
}
.info-card , .info-card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh !important;
    color: white;
    padding: 4px;
}
.info-card1{
    background-color: rgba(3, 7, 21, 0.45);
}
.info-card > .icons > a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    margin-left: 10px;
}
.info-card > .icons > a:hover{
    color: red;
}
@media(max-width: 320px){
    .index-banner > h1{
        font-size: 3.8rem;
    }
}
@media only screen and (max-width: 992px){
    .brand-logo > img{
        width: 90%;
    }
    
}
.cards{
    min-height: 300px !important;
    position: relative;
    text-align: center;
    padding: 0 !important;
}
.cards > img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: zoom-in;
}
.row{
    margin-bottom: 0 !important;
}
.info-cards:hover .cards > img{
    filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   transition:filter 0.5s;
   -webkit-transition:-webkit-filter 0.5s;
}
.card-content{
    position: absolute;
    color: white;
    background-color: rgba(3, 7, 21, 0.45);
    width: 100%;
    padding: 0;
    min-height: 300px;
    opacity: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-cards:hover .card-content{
    visibility: visible;
    transform: translateX(20px);
    opacity: 1;
}
.brand-logo{
    width: 50%;
}
.section-contac{
    background-color: black;
    height: 85vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding-left: 5vh !important;
}
.section-contac > span {
    width: 70%;
}
.section-contac > .icons{
    justify-content: left;
    margin-top: 5vh;
}
.color{
    background: #EDEDED;
}
.section-info{
    min-height: 85vh;
}
.section-mensaje{
    background-color: white;
    height: 85vh;
    padding: 4% !important;
}
.section-map{
    min-height: 400px !important;
    padding: 0 !important;
}
.section-map > iframe{
    width: 100%;
    height: 85vh;
}
form{
    color: black;
    overflow: hidden;
}
@media(max-width: 768px){
    .info-nosotros{
        background-position-x: -300px;
    }
    .info-tour > h5{
        width: 80% !important;
    }
    .img-tour{
        height: 50% !important;
    }
    .info-hito > ul:before{
        left: 15px !important;
    }
}
.inputs-formulario, .text-formulario {
    background-color: #E7E7E7 !important;
    outline: none !important;
}
.inputs-formulario-rutas{
    background-color: #fff !important;
    padding-left: 15px !important;
    padding-right: 7px !important;
    width: 92% !important;
    border-bottom: none !important;
    margin: 0 0 10px 0 !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
}
.info-tours span:nth-child(2){
    margin-left: 3px;
}
.info-tours span{color: #484848;}
.card-info{
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: center;
}
.text-formulario{
    width: 97% !important;
    height: 150px;
    border: none !important;
}
.formulario-filtrar{
    display: flex;
    align-items: baseline;
}
.formulario-filtrar > input[type=text]{
    max-width: 22%;
}
.formulario-filtrar input:nth-child(2){
    margin-left: 7px !important;
}
.formulario-filtrar input:nth-child(3){
    margin-left: 7px !important;
    height: 3rem !important;
    box-shadow: 0 0 0 0 !important;
    border-radius: 0 !important;
    padding: 0 0.8rem !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important
}
.btn-enviar{
    background-color: #03A8F4 !important;
    font-weight: bold;
}
.btn-enviar:hover{
    background-color: #0288c5 !important;
}
.section-contac > div > h5 > a{
    color: white !important;
}

/* css vista única*/
.info-tour{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.info-tour > h5{
    width: 83%;
}
.content-tour{
    display: flex;
    margin-top: 3vh;
    margin-bottom: 5vh;
    min-height: 70vh;
}
.content-tour > .info-hito{
    width: 45%;
    background-color: white;
    padding: 1rem;
    position: relative;
    margin-right: 5px; 
}
.content-tour > .info-hito > .rutaa{
    position: absolute;
    bottom: 0;
    display: flex;
}
.rutaa > p:nth-child(2){
    margin-left: 1.2rem;
}
.info-hito > ul{
    position: relative;
    padding-left: 5vh !important;
}
.info-hito > ul:before {
    content: '';
    width: 1.8px;
    height: 80%;
    background: #202020;
    position: absolute;
    left: 23px;
    top: 5px;
}
.info-hito > ul > li{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-left: 10px;
}
.info-hito > ul > li > strong {
    font-weight: bold !important;
}
.info-hito > ul li::before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #03A8F4;
    position: absolute;
    left: -19px;
    top: 3px;
    border-radius: 50%;
}
.content-tour > .sections-tour{
    width: 55%;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.content-tour > .sections-tour > .mapa-tour{
    flex: 5;
    background-color: white;
    overflow: hidden;
}

.mapa-tour > iframe{
    width: 100%;
    height: 100%;
    border: 0;
}
.content-tour > .sections-tour > .galeria-tour{
    margin-top: 4px;
    background-color: white;
    flex: 1;
    overflow: hidden;
}

.img-tour{
    width: 33.3%;
    height: 70%;
}
#tours > nav{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
/* fin css vista única */

/*https://images.unsplash.com/photo-1475754358526-bad7b4b8eb05*/


/* css editador por hernan */
/*
.home nav{
    background-color: rgba(0, 0, 0, .2) !important;
}*/
body{
    background-color: #f3f3f3  !important;
}
.home nav .brand-logo{
    display: none;
}

.home nav a{
    font-size: 1.155em;
}

.home nav a span{
    font-style: italic;
}

.home nav, #nosotros{
    box-shadow: none !important;
}

.home nav.cambiar{
    background-color: white !important;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3) !important;
}

.home nav.cambiar .active{
    border-bottom: 1px solid black;
    
}

.home nav .active{
    border-bottom: 1px solid white;
}


.home .navMobile a{
    color: black !important;
}

.home .navMobile li{
    height: 40px !important;
    display: flex;
    align-items: center;
}

.home .navMobile li a{
    font-size: 1em !important;
    display: flex;
    align-items: center;
    overflow: hidden;
}
/* ------------------------- */

/* Baner */
.home .index-banner h1{
    font-weight: 200;
    font-size: 4.8em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .6);
    font-style: italic;
    text-align: center;
}

/* ------------------------- */

/* galeria */
.home .card-content{
    transition: all .8s ease !important;
    cursor: pointer;
}

.home .section-tours{
    overflow: hidden;
    height: 280px;
}
/* ------------------------- */

/* Contacto */
.home form input[type="submit"]{
    margin-top: 10px;
}

.home .section-info form input, textarea{
    border-radius: 0px !important;
}

.home .text-formulario{
    border-radius: 0px !important;
    width: 100% !important;
    resize: none;
    padding: 10px;
}

.home .inputs-formulario{
    border: 0px !important;
    outline: none !important;
    padding: 0px 10px 0px 10px !important;
    width: calc(100% - 20px) !important;
}

.home .inputs-formulario:focus{
    border: none !important;
    border-bottom: none !important;  
    box-shadow:none !important;  
}
/* ------------------------- */

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    height: 56px;
    background: hsla(0, 0%, 53.3%, .4);
}

#loadin_page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999999999999;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loadin_page img{
    width: 35px;
}