<template>
<nav id="nav" :class="nombreClase">
        <div class="container">
            <div class="nav-wrapper">
                <a :href="url" class="brand-logo">
                    <span>OverAlestur</span>
                </a>
                <div class="right hide-on-med-and-up" @click="change()">
                        <i class="fa fa-bars"></i>
                </div>

                <ul id="nav-mobile" class="right">
                    <slot name="uno"></slot>
                    
                </ul>

            </div>
        </div>

        <div class="snav" 
            :style="estilo" @click="change()">
             <slot name="dos"></slot>
        </div>

        <div class="bg " v-if="estado" @click="change()"></div>
    </nav>
</template>

<script>
    export default {
        props:['url', 'clase'],
        data(){
            return{
                estado:false,
                estilo:'right:-200px;'
            }
        },
        computed:{
            nombreClase(){
                return this.clase;
            }
        },
        methods:{
            change(){
                if(this.estado){
                    this.estado = false;
                    this.estilo = 'right:-200px;'
                }else{
                    this.estado = true;
                    this.estilo = 'right:0px;'
                }
            }
        }
    }
</script>

<style>
    #nav{
        position: fixed;
        top:0px;
        width: 100%;
        height: 70px;
        z-index: 10;
        overflow: hidden;
        background-color: #ffffff;
    }
    .right i{
        color: black;
    }

    #nav .nav-wrapper{
        width: 100%;
        height: 70px;
    }
    #nav-mobile{
        line-height: 70px;
    }
    .navMobile li > a{
        color: black;
    }
    #nav .nav-wrapper .brand-logo{
        height: 40px !important;
        color: black;
    }
    #nav .bg{
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 10;
        top:0px;
        background: rgba(0, 0, 0, 0.5);
    }

    #nav  .snav{
        width: 200px;
        height: 100vh;
        position: fixed;
        z-index: 999999;
        top:0px;
    }
    .brand-logo{
        z-index: -1;
    }

    #nav  .snav li{
        width: 100%;
        border-bottom: 0.6px solid rgba(6, 6, 6, 0.14);
        text-transform: uppercase;
        height: 50px;
    }
    #nav .snav{
        background-color: #ffffff;
        color: black;
    }

    #nav  .snav li:hover{
        background: #fafafa;
    }
    #nav  .snav li a{
        width: 100%;
        height: 100%;
        text-align: left;
        font-size: 1.2em;
    }
    #nav  .snav li a:hover{
        background: transparent !important;
    }
    #nav-mobile li a{
        color: black;
        font-style: italic;
    }

    #nav i {
        cursor: pointer;
    }
</style>
