<template>
    <div id="confirm-modal" v-if="active">
        <div class="confirm-modal">

            <div class="confirm-modal-message">
                <h4>{{dataBus.message}}</h4>
            </div>

            <div class="confirm-modal-buttons">
                <button @click="cancel()">Cancelar</button>
                <button @click="confirm()">Aceptar</button>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props:['bus'],
        data(){
            return{
                dataBus:{
                    message:'soy el mensaje',
                    call:null
                },
                active:false
            }
        },

        mounted(){
            const self = this;
            this.bus.$on('fire-confirm', data => {
                self.dataBus = data;
                self.active = true;
            });
        },
        methods:{
            cancel(){
                this.active = false;
            },
            confirm(){
                this.dataBus.call();
                this.active = false;
            }
        }
    }
</script>

<style>

    @keyframes confirm-modal {
        0%{opacity: 0};
        100%{opacity: 1};
    }

    #confirm-modal{
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999999;
        background-color: rgba(0, 0, 0, .4);
        animation-name: confirm-modal;
        animation-duration: .1s;

    }

    #confirm-modal .confirm-modal{
        width: 400px;
        height: 200px;
        background: white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
            0 1px 5px 0 rgba(0,0,0,0.12),
            0 3px 1px -2px rgba(0,0,0,0.2);
        margin-top: -200px;
        display: flex;
        flex-direction: column;
    }

    #confirm-modal .confirm-modal .confirm-modal-message{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 3;

    }

     #confirm-modal .confirm-modal .confirm-modal-message h4{
         font-size: 1.4em !important;
     }

    #confirm-modal .confirm-modal .confirm-modal-buttons{
        flex:1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #eee;
        padding:5px;

    }

    #confirm-modal .confirm-modal .confirm-modal-buttons button{
        margin: 5px;
        height: calc(100% - 10px);
        background-color: white;
        border: none;
        padding: 5px;
        background-color: transparent;
    }

    #confirm-modal .confirm-modal .confirm-modal-buttons button:last-child{
        background-color: #2196f3;
        color: white;
        border-radius: 0px;
    }
</style>
