<template>
    <div id="left-panel" v-if="activo" >
        <div class="bg-panel" @click="cambiar()"></div>
        <section>
            <slot></slot>
        </section>
    </div>
</template>

<script>
    export default {
        props:['activo', 'desactivar'],
        mounted(){
            console.log()
            $(this.$el).css('witdh', $(window).width()+'px');
        },
        methods:{
            cambiar(){
                this.desactivar(null);
            }
        }
    }
</script>

<style>

    #left-panel{
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
    }
    #left-panel > .bg-panel{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
    }

    @keyframes leftPanelSection {
        0%{right: -100vw}
        100%{right: 0px}
    }

    #left-panel section{
        width: 30vw;
        min-width: 300px;
        height: 100vh;
        position: fixed;
        right: 0px;
        top: 0px;
        background-color: white;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .3);
        animation-name: leftPanelSection;
        animation-duration: .5s;
    }
</style>
