<template>
    <section id="admin-section">
        <div class="contenido">
            <slot></slot>
        </div>
    </section>
</template>

<script>
    export default {
        props:['titulo']
    }
</script>

<style>

</style>
