<template>
    <div id="admin-side" class="" :class="activo">
        <a href="/administracion" active="tures" class="white-text">
            <div class="link">
                Tours
            </div>
        </a>

        <a href="/administracion/informacion" active="informacion" class="white-text">
            <div class="link">
                Información
            </div>
        </a>

        <a href="/administracion/mensajes" active="mensajes" class="white-text">
            <div class="link">
                Mensajes
            </div>
        </a>

        <a href="/administracion/galeria" active="galeria" class="white-text" >
            <div class="link">
                Galeria
            </div>
        </a>

        <a href="/administracion/administradores" active="administradores" 
            class="white-text" v-if="user.range == 0">
            <div class="link">
                Administradores
            </div>
        </a>

        <a href="/administracion/salir" class="white-text">
            <div class="link">
                Salir
            </div>
        </a>

        <div class="blue btn btn-floating menu" @click="cambiar('activo')"
             v-if="activo == null">
            <i class="fa fa-bars"></i>
        </div>

        <div class="admin-side__background hide-on-large-only" 
            :class="activo" @click="cambiar(null)"></div>
    </div>
</template>

<script>
    export default {
        props:['user'],
        data(){
            return{
                activo:null,
                icono:'fa-bars'
            }
        },
        methods:{
            cambiar(estado){
                console.log(estado)
                this.activo = estado;
            }
        },
        mounted(){
            let paths = location.pathname.split('/');
            paths.forEach(p => {
                let e  = $(this.$el).find('a[active="'+p+'"]');
                $(e[0]).children('.link').addClass('active');
            });
           
        }
    }
</script>

<style>
    .admin-side__background.activo{
        position: fixed;
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.23);
        top: 0px;
        margin-left: 220px;
    }
</style>
