<template>
    <div id="admins">
        <div class="btn btn-floating red crear"
            @click="cambiarPanel(true)">
                <i class="fa fa-plus smallIcon"></i>
        </div>

        <div class="listado white z-depth-1">
            <div v-for="(a, i) in admins" class="elemento" v-bind:key="i">
                <div class="texto"  @click="cambiarPanel(true, i)">
                    {{a.usuario}}
                </div>
                
                <div @click="deleteAdmin(i)" class="accion">
                    <i class="fa fa-trash eliminar"></i>
                </div>
                
            </div>
        </div>

        <left-panel :activo="panel" :desactivar="cambiarPanel">
            <div class="row">
                <div class="col s12 ">
                    <br>
                    <div class="title-divider extremos">
                        <h5 class="truncate">Administrador</h5>
                        <div class="btn btn-floating grey darken-2 cerrar"
                        @click="cambiarPanel(null)">
                            <i class="fa fa-close smallIcon"></i>
                        </div>
                    </div>
                    <br>
                </div>

                <form enctype="multipart/form-data"
                    @submit.prevent="submit($event)">

                    <div class="col s12 ">
                        <select  class="browser-default" 
                            v-model="admin.range" required>
                            <option value="1">Administrador</option>
                            <option value="0">Super Administrador</option>
                        </select>
                    </div>

                    <div class="col s12">
                        <input type="text" placeholder="Nombre" 
                        v-model="admin.nombre" required>
                    </div>
                    <div class="col s12">
                        <input type="text" placeholder="Usuario" 
                        v-model="admin.usuario" required>
                    </div>
                    <div class="col s12">
                        <input type="text" placeholder="Password" 
                        v-model="admin.password" v-if="pass" required>
                    </div>
                    
                    <div class="col s12">
                        <input type="submit" class="btn blue right" value="Listo">
                        <input type="button" class="btn red right" 
                        @click="activePass()" value="pass" v-if="admin.id != undefined">
                    </div>
                </form>
            </div>
        </left-panel>

        <confirm-modal :bus="bus"></confirm-modal>
    </div>
</template>

<script>
    import leftPanel from '../leftPanel.vue';
    import confirmModal from '../confirm.vue';
    import Vue from 'vue';
    const bus = new Vue();
    
    export default {
        data(){
            return{
                panel:false,
                admin:{
                    nombre:null,
                    usuario:null,
                    password:null,
                    range:1
                },
                admins:[],
                pass:false,
                bus
            }
        },
        methods:{
            cambiarPanel(estado, id){
                this.panel = estado;

                if(id != undefined){
                    this.admin = Object.assign({}, this.admins[id]);
                }else{
                    this.pass = true;
                }

                if(!estado){
                    this.reset();
                }
            },
            submit(e){
                const form = new FormData(e.target);                
               
               if(this.admin.id == undefined){
                    
                    this.crear(form);
                }else{
                    this.update(form);
                }
            },
            crear(form){
                const self = this;
                axios.post('/api/administrador/crear', this.admin)
                .then(d => {
                    self.admins.unshift(d.data);
                    self.cambiarPanel(false);
                    self.reset();
                    adminBus.$emit('toast-fire', 'Administrador Creado');
                });
            },
            update(form){
                const self = this;
                axios.post('/api/administrador/editar/'+this.admin.id, this.admin)
                .then(d => {
                    self.admins = self.admins.map(admin => {
                        if(admin.id == d.data.id){
                            admin = d.data;
                        }
                        return admin;
                    });
                    self.cambiarPanel(false);
                    self.reset();
                    adminBus.$emit('toast-fire', 'Informacion Actualizada');
                });
            },
            reset(){
                this.admin = {
                    nombre:null,
                    usuario:null,
                    password:null,
                    range:1
                }
                this.pass = false;
            },
            activePass(){
                this.admin.password = null;
                this.pass = !this.pass;
            },
            deleteAdmin(i){
                const self = this;
                this.bus.$emit('fire-confirm', {
                    message:'Estas eleminando un administrador',
                    call:()=>{
                        axios.post('/api/administrador/eliminar/'+self.admins[i].id)
                        .then(d => {
                            self.admins = self.admins.filter(admin => {
                                if(admin.id != d.data.id){
                                    return admin;
                                }
                            });
                            adminBus.$emit('toast-fire', 'Administrador Eliminado');
                        });
                    }
                });
            }
        },
        mounted(){
            const selt = this;
            axios.post('/api/administrador/todos')
            .then(d => {
                if(d.data != ''){
                    this.admins = d.data;
                }
            });
        },
        components:{
            leftPanel,
            confirmModal
        }
    }
</script>

<style>
    #admins{
        width: 100%;
        height: 100%;
        display: flex;
    }

    #admins form input[type="submit"]{
        margin-left: 10px;
    }
</style>
