<template lang="html">
    <div id="galeria">

        <div class="btn btn-floating red crear"
            @click="panel(true)">
                <i class="fa fa-plus smallIcon"></i>
        </div>

        <div class="listado white z-depth-1">
            <div v-for="(img, i) in imagenes" class="elemento">
                    <div class="texto" @click="cambiarDetalle(true, $event, i)">
                        <img :src="'/imagenes/galeria/'+img.urlImagen"
                        width="45"/>
                    </div>

                    <div @click="deleteImagen(i)" class="accion">
                        <i class="fa fa-trash eliminar"></i>
                    </div>
            </div>
        </div>

        <div v-if="detalle" class="detalle grey lighten-3 z-depth-3">

            <div class="row">
                <div class="col s12">
                    <div class="card-panel">
                        <img :src="'/imagenes/galeria/'+img.urlImagen" width="100%">
                    </div>
                </div>
            </div>

            <div class="btn btn-floating grey darken-2 galeria__fixedBtn"
                @click="cambiarDetalle(false)">
                <i class="fa fa-close smallIcon"></i>
            </div>
        </div>

        <div v-if="imagenes.length == 0"
            class="detalle grey lighten-3 z-depth-3 detalle--fullCenter">
            <div class="">
                <h4 class="center">No hay imagenes creadas</h4>
            </div>
            <div class="btn btn-floating red galeria__fixedBtn"
                @click="panel(true)">
                    <i class="fa fa-plus smallIcon"></i>
            </div>
        </div>

        <left-panel :activo="leftPanel" :desactivar="panel">
            <div class="row">
                <div class="col s12 ">
                    <br>
                    <div class="title-divider extremos">
                        <h5 class="truncate ">Galeria</h5></h5>
                        <div class="btn btn-floating grey darken-2 cerrar"
                        @click="panel(null)">
                            <i class="fa fa-close smallIcon"></i>
                        </div>
                    </div>
                    <br>
                </div>

                <form enctype="multipart/form-data"
                    @submit.prevent="subirImagen($event)">
                    <div class="col s12">
                        <input type="file" name="imagenes[]"
                            placeholder="Imagenes" multiple required>
                    </div>

                    <div class="col s12">
                        <input type="submit" class="btn blue right" value="Listo">
                    </div>
                </form>
            </div>
        </left-panel>

        <confirm-modal :bus="bus"></confirm-modal>
    </div>
</template>

<script>

    import leftPanel from '../leftPanel.vue';
    import confirmModal from '../confirm.vue';
    import Vue from 'vue';
    const bus = new Vue();
    
    export default {
        data(){
            return{
                detalle:false,
                item:null,
                leftPanel:false,
                imagenes:[],
                img:{urlImagen:null},
                bus
            }
        },
        methods:{
            cambiarDetalle(estado, e, id){
                this.detalle = !estado;

                const self = this;

                setTimeout(function(){
                    self.detalle = estado;
                }, 50);

                if(e != undefined){
                    if(this.item != null){
                        $(this.item).removeClass('activo');
                        this.item = e.target;
                        $(this.item).addClass('activo');
                    }else{
                        this.item = e.target;
                        $(this.item).addClass('activo');
                    }
                }else{
                    if(this.item != null){
                        $(this.item).removeClass('activo');
                    }
                }
                if(estado){
                    this.seleccionarImagen(id);
                }
            },
            seleccionarImagen(id){
                this.img = this.imagenes[id]
            },
            panel(estado){
                this.leftPanel = estado;
            },
            subirImagen(e){
                let form = new FormData(e.target);
                const self = this;
                axios.post('/api/galeria/crear', form)
                .then(d => {
                    self.imagenes = Object.assign([], d.data);
                    self.panel(null);
                    adminBus.$emit('toast-fire', 'Imagenes Subida');
                });
            },
            deleteImagen(id){
                const self = this;
                this.bus.$emit('fire-confirm', {
                    message:'Esta eliminando una imagen',

                    call:function(){
                        self.detalle = false;
                        axios.post('/api/galeria/eliminar/'+self.imagenes[id].id)
                        .then(d => {
                            self.imagenes = self.imagenes.filter(img => {
                                if(img.id != d.data.id){
                                    return img;
                                }
                            });
                            adminBus.$emit('toast-fire', 'Imagen Eliminada');
                        });
                    }
                });
            }
        },
        mounted(){
                const self = this;
                axios.post('/api/galeria/todos')
                .then(d => {
                    self.imagenes = Object.assign([], d.data);
                });
        },
        components:{
            leftPanel,
            confirmModal
        }
    }
</script>

<style lang="css">
    #galeria{
        width: 100%;
        height: 100%;
        display: flex;
    }

    .galeria__fixedBtn{
        position: fixed;
        top: 10px;
        right: 10px;
    }
</style>
