<template lang="html">
    <div id="informacion">
        <div class="detalle grey lighten-3 z-depth-3 detalle--back">
            <div class="row">
                <div class="col s12 m6 l4">
                    <div class="row">
                        <div class="col s12 white z-depth-1">
                            <h5 class="center">Informacion del sitio</h5>
                        </div>
                    </div>
                    <div class="white z-depth-1">

                        <form @submit.prevent="enviarSitio($event)"
                            enctype="multipart/form-data">

                            <div class="row">
                                <div class="col s12">
                                    <textarea placeholder="Nosotros" 
                                    class="materialize-textarea"
                                    v-model="sitio.nosotros" name="nosotros" 
                                    required></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 truncate input-field">
                                    <input type="file" name="imagen" class="file"
                                    :required="sitio.id == null"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <input type="submit"
                                        class="btn blue right" value="Listo"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col s12 m6 l4 showAnimation" v-if="sitio.id != null">
                    <br class="hide-on-med-and-up">
                    <div class="row">
                        <div class="col s12 white z-depth-1">
                            <h5 class="center">Informacion de contacto</h5>
                        </div>
                    </div>
                    <div class="white z-depth-1">

                        <form @submit.prevent="enviar()">
                            <div class="row">
                                <div class="col s12">
                                    <input type="tel"
                                    v-model="informacion.telefono"
                                    placeholder="Telefono" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <input type="email"
                                    v-model="informacion.correo"
                                    placeholder="Correo" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <input type="text"
                                    v-model="informacion.direccion"
                                    placeholder="Direccion" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <input type="submit"
                                        class="btn blue right" value="Listo"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{

                sitio:{
                    nosotros:null,
                    img:null,
                    id:null
                },
                informacion:{
                    telefono:null,
                    id:null,
                    sitio_id:null
                },
            }
        },
        methods:{
            enviar(){
                this.informacion.sitio_id = this.sitio.id;

                if(this.informacion.id == null){
                    this.crear();
                }else{
                    this.update();
                }
            },
            crear(){
                const self = this;
                axios.post('/api/infoContacto/crear', this.informacion)
                .then(d => {
                    self.informacion = d.data;
                });
            },
            update(){
                const self = this;
                axios.post('/api/infoContacto/editar/'+this.informacion.id, this.informacion)
                .then(d => {
                    self.informacion = d.data;
                    adminBus.$emit('toast-fire', 'Informacion Actualizada');
                });
            },
            enviarSitio(e){
                const form = new FormData(e.target);
                if(this.sitio.id == null){
                    this.crearSitio(form);
                }else{
                    this.updateSitio(form);
                }
            },
            crearSitio(form){
                const self  = this;
                axios.post('/api/sitio/crear', form)
                .then(d=>{
                        self.sitio = d.data;
                        adminBus.$emit('toast-fire', 'Informacion Actualizada');
                    })
            },
            updateSitio(form){
                const self  = this;
                axios.post('/api/sitio/editar', form)
                .then(d=>{
                        self.sitio = d.data;
                        adminBus.$emit('toast-fire', 'Informacion Actualizada');
                    })

            }
        },
        mounted(){
            const self = this;
            axios.post('/api/infoContacto/info/')
            .then(d => {
                if(d.data != null && d.data != ""){
                    self.informacion = d.data;
                }
            });

            axios.post('/api/sitio/ver')
            .then(d => {
                if(d.data != null && d.data != ""){
                    self.sitio = d.data;
                }
            });
        }
    }
</script>

<style lang="css">
    #informacion{
        width:100%;
        height: 100%;
        display: flex;
    }

    #informacion h5{
        font-size: 1.2em;
    }

    #informacion form{
        padding-bottom:1px;
    }
    #informacion form .file{
        width:300px;
    }

</style>
