<template>
    <div id="admin-login">
        <div v-if="msg  != ''" 
            class="admin-login__notify  showAnimation">
            <div class="admin-login__notify__icon">
                <i class="fa fa-exclamation"></i>
            </div>
            {{msg}}
        </div>

        <div class="admin-login__form z-depth-3 white showAnimation">
            <div class="admin-login__form__title">
                <h3 class="blue-text">¡Bienvenido!</h3>
            </div>
            <form method="post" action="/administracion/entrar">
                <input type="hidden" name="_token" :value="csrf">

                <input type="text" placeholder="Usuario" 
                    name="usuario" required>

                <input type="password" placeholder="Password" 
                    name="password" required>

                <input type="submit" class="admin-login__submit blue">
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        props:['csrf', 'msg']
    }
</script>

<style>
    #admin-login{
        width: 100vw;
        height: 100vh;
        background-image: url('/imagenes/administracion/login-bg.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .admin-login__form{
        width: 350px;
        padding: 40px;
        border-radius: 2px;
    }

    .admin-login__notify{
        width: 350px;
        margin: 5px;
        background: white;
        color: black;
        display: flex;
        height: 40px;;
        align-items: center;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
    }

    .admin-login__notify__icon{
        background: #f44336;
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        color: white;
    }

    @media (max-width:320px){
        .admin-login__form{
            width: 300px;
        }

        .admin-login__notify{
            width: 300px;
        }
    }

    .admin-login__form__title h3{
        font-size: 1.7em;
        text-align: center;
    }

    .admin-login__submit{
        border: none;
        color:white;
        padding: 8px 15px 8px 15px;
        float: right;
        border-radius: 2px;        
    }

    .admin-login__form input:focus {
        border-bottom: 1px solid #2196f3 !important;
        box-shadow: 0 1px 0 0 #2196f3 !important;
    }

</style>
