<template>
    <div id="vista-mensajes">

        <div class="listado white z-depth-1">
            <div v-for="(m, i) in mensajes" class="elemento"
                @click="cambiarDetalle(true, $event, i)" v-bind:key="i">
                {{m.nombre}}
            </div>
        </div>

        <div v-if="detalle" class="detalle grey lighten-3 z-depth-3">
            <div class="row">
                <div class="col s12 m10 l6">
                    <div class="white z-depth-1 vista-mensajes__titulo--padding">
                        <b>Recibido: </b>{{mensaje.created_at}}
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col s12 m10 l6">
                    <div class="white z-depth-1 mensaje">

                        <div class="row">
                            <div class="col s12">
                                <input type="text"class="vista-mensajes__input"
                                    value="Visto" v-model="mensaje.nombre" disabled>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <input type="text"class="vista-mensajes__input"
                                    value="Visto" v-model="mensaje.correo" disabled>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <textarea class="materialize-textarea vista-mensajes__input"
                                    v-model="mensaje.mensaje" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn btn-floating grey darken-2 cerrar"
                @click="cambiarDetalle(false)">
                <i class="fa fa-close smallIcon"></i>
            </div>
        </div>
        <div v-if="mensajes.length == 0"
            class="detalle grey lighten-3 z-depth-3 detalle--fullCenter">

            <h4 class="center">No hay mensajes recibidos</h4>

        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                detalle:false,
                 item:null,
                 mensaje:{
                     nombre:'Nombres Apellidos',
                     correo:'Email',
                     mensaje:'Mensaje',
                     created_at:null
                 },
                 mensajes:[]
            }
        },
        methods:{
            cambiarDetalle(estado, e, id){
                this.detalle = !estado;
                const self = this;

                setTimeout(function(){
                    self.detalle = estado;
                }, 50);

                if(e != undefined){
                    if(this.item != null){
                        $(this.item).removeClass('activo');
                        this.item = e.target;
                        $(this.item).addClass('activo');
                    }else{
                        this.item = e.target;
                        $(this.item).addClass('activo');
                    }
                }else{
                    if(this.item != null){
                        $(this.item).removeClass('activo');
                    }
                }

                this.seleccionarMensaje(id);
            },

            seleccionarMensaje(id){
                if(id != undefined){
                    this.mensaje = Object.assign({}, this.mensajes[id]);
                }
            }
        },
        mounted(){
            console.log(this.mensajes.length)
            const self = this;
            axios.post('/api/mensajes/todos')
            .then(d => {
                self.mensajes = Object.assign([], d.data);
            });
        }
    }
</script>

<style>
    #vista-mensajes{
        width: 100%;
        height: 100%;
        display: flex;
    }

    #vista-mensajes .mensaje{
        padding-bottom: .5px;
    }

    .vista-mensajes__titulo--padding{
        padding: 10px;
    }

    .vista-mensajes__input{
        color: black !important;
        border-bottom: 2px solid rgba(0, 0, 0, .15) !important;
    }
</style>
