<template>
    <div id="tures">

        <div class="btn btn-floating red right crear"
            @click="cambiarDetalle(true)">
                <i class="fa fa-plus smallIcon"></i>
        </div>

        <div class="listado white z-depth-1">
            <div v-for="(t, i) in tures" class="elemento"
                @click="cambiarDetalle(true, $event, i)" v-bind:key="t.id">
                <div class="texto">
                    {{t.nombre}}
                </div>
                <div @click="deleteTur(i)" class="accion">
                    <i class="fa fa-trash eliminar"></i>
                </div>
            </div>
        </div>

        <div v-if="detalle" class="detalle grey lighten-3 z-depth-3">
            <div class="row">

                <section class="col m12  l12 s12 showAnimation">
                    <div class="title-divider">
                        <h5>Informacion Basica</h5>
                    </div>
                    <form @submit.prevent="crear_update_tur()">
                        <div class="white z-depth-1 elementos">
                            <div class="row">

                                <div class="col m6 s12">
                                    <input type="text" placeholder="Titulo"
                                    name="titulo" v-model="datos.informacion.nombre"
                                    required>
                                </div>

                                <div class="col m6 s12">
                                    <input type="text" class="precio"
                                        placeholder="Precio"name="precio"
                                        required v-currency="datos.informacion.precio"
                                        v-model="datos.informacion.precio" >
                                </div>

                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <input type="text" placeholder="Mapa"
                                        name="mapa" required
                                        v-model="datos.informacion.mapa" >
                                </div>

                                <div class="col m3 s12">
                                    <input type="text" placeholder="Origen"
                                            name="origin" required
                                            v-model="datos.informacion.origen" >
                                </div>

                                <div class="col m3 s12">
                                    <input type="text" placeholder="Destino"
                                            name="Destino" required
                                            v-model="datos.informacion.destino" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <input type="submit"
                                        class="btn blue right" value="Listo">
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

                <section class="col m6 l6 s12"
                    v-if="datos.informacion.id != undefined">

                    <div class="title-divider valign-wrapper extremos">
                        <h5>Hitos</h5>

                        <div class="btn btn-floating blue"
                            @click="cambiarPanel('hito')">
                            <i class="fa fa-plus white-text smallIcon"></i>
                        </div>

                    </div>
                    <div class="white z-depth-1 elementos showAnimation">
                        <div v-for="(h, i) in datos.hitos" class="elemento extremos"
                            v-bind:key="h.id">
                            <div class="texto" @click="cambiarPanel('hito', i)">
                                <span class="truncate" >
                                    {{h.titulo}}
                                </span>
                            </div>

                            <div @click="deleteHito(i)" class="accion">
                                <i class="fa fa-trash eliminar"></i>
                            </div>
                        </div>
                    </div>

                </section>

                <section class="col m6 l6 s12 "
                    v-if="datos.informacion.id != undefined">

                    <div class="title-divider valign-wrapper extremos">
                        <h5>Imagenes</h5>
                        <div class="btn btn-floating blue"
                            @click="cambiarPanel('imagen')">
                            <i class="fa fa-plus white-text smallIcon"></i>
                        </div>
                    </div>
                    <div class="white z-depth-1 elementos showAnimation">
                        <div v-for="(img, i) in datos.imagenes"
                        class="elemento extremos" v-bind:key="i">
                            <div class="texto">
                                <img :src="'/imagenes/tures/'+img.url"
                                width="45"/>
                            </div>

                            <div @click="deleteImagen(i)" class="accion">
                                <i class="fa fa-trash eliminar"></i>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

            <div class="btn btn-floating grey darken-2 cerrar"
            @click="cambiarDetalle(false)">
                <i class="fa fa-close smallIcon"></i>
            </div>
        </div>

        <div v-if="tures.length == 0 && !detalle"
            class="detalle grey lighten-3 z-depth-3 detalle--fullCenter">

            <h4 class="center">No hay tours creados</h4>

            <div class="btn btn-floating red right crear"
                @click="cambiarDetalle(true)">
                    <i class="fa fa-plus smallIcon"></i>
            </div>
        </div>

        <left-panel :activo="panel == 'hito'" :desactivar="cambiarPanel">
            <div class="row">
                <div class="col s12 ">
                    <br>
                    <div class="title-divider extremos">
                        <h5 class="truncate ">Apartado de Hito</h5>
                        <div class="btn btn-floating grey darken-2 cerrar"
                        @click="cambiarPanel(null)">
                            <i class="fa fa-close smallIcon"></i>
                        </div>
                    </div>
                    <br>
                </div>

                <form @submit.prevent="crear_update_hito()">
                    <div class="col s12">
                        <input type="text" placeholder="Titulo del Hito"
                        v-model="hito.titulo" required>
                    </div>
                    <div class="col s12">
                       <textarea id="textarea1"
                        class="materialize-textarea"
                        placeholder="Descripcion del Hito"
                        v-model="hito.descripcion" required></textarea>
                    </div>
                    <div class="col s12">
                        <input type="submit" class="btn blue right" value="Listo">
                    </div>
                </form>
            </div>
        </left-panel>

        <left-panel :activo="panel == 'imagen'" :desactivar="cambiarPanel">
            <div class="row">
                <div class="col s12 ">
                    <br>
                    <div class="title-divider extremos">
                        <h5 class="truncate ">Apartado de Imagen</h5>
                        <div class="btn btn-floating grey darken-2 cerrar"
                        @click="cambiarPanel(null)">
                            <i class="fa fa-close smallIcon"></i>
                        </div>
                    </div>
                    <br>
                </div>

                <form enctype="multipart/form-data"
                    @submit.prevent="crearImagen($event)">
                    <div class="col s12">
                        <input type="file" name="imagenes[]"
                            placeholder="Imagenes" multiple required>
                    </div>
                    <input type="text" v-model="datos.informacion.id"
                    name="tour_id" hidden>

                    <div class="col s12">
                        <input type="submit" class="btn blue right" value="Listo">
                    </div>
                </form>
            </div>
        </left-panel>

        <confirm-modal :bus="busDatos"></confirm-modal>
    </div>
</template>

<script>
    import leftPanel from '../leftPanel.vue';
    import confirmModal from '../confirm.vue';
    import Vue from 'vue';

    import numeral from 'numeral';

    const reset = function(el){
        var number = numeral($(el).val());
        var string = number.format('0,0');
        $(el).val(string);
    }

    const currency = {

        update(el, binding, vnode){
            reset(el);
        },
        bind(el, binding, vnode){
            reset(el);
        }
    }

    const busDatos = new Vue();

    export default {
        data(){
            return{
                detalle:false,
                item:null,
                panel: null,
                datos:{
                    informacion:{
                        nombre:null,
                        precio:null,
                        mapa:null,
                        origen:null,
                        destino:null
                    },
                    hitos:[],
                    imagenes:[]

                },
                tures: [],
                hito:{
                    titulo:null,
                    descripcion:null
                },
                busDatos
            }
        },

        methods:{
            cambiarDetalle(estado, e, id){
                this.detalle = !estado;
                const self = this;

                setTimeout(function(){
                    self.detalle = estado;
                }, 50);

                if(e != undefined){
                    if(this.item != null){
                        $(this.item).removeClass('activo');
                        this.item = e.target;
                        $(this.item).addClass('activo');
                    }else{
                        this.item = e.target;
                        $(this.item).addClass('activo');
                    }
                }else{
                    if(this.item != null){
                        $(this.item).removeClass('activo');
                    }
                }

                this.seleccionTour(id);

            },

            cambiarPanel(tipo, id){
               this.panel = tipo;
               if(tipo == 'hito'){
                   if(id != undefined){
                       this.hito = Object.assign({}, this.datos.hitos[id]);
                   }else{
                       this.hito = {
                           titulo:null,
                           descripcion:null,
                           tour_id:this.datos.informacion.id
                       }
                   }
               }
            },

            seleccionTour(id){
                if(id != undefined){
                    this.datos.informacion = Object.assign({}, this.tures[id]);
                    this.pedirInformacion();
                }else{
                    this.datos = {
                        informacion:{
                            nombre:null,
                            precio:null,
                            mapa:null,
                            origen:null,
                            destino:null
                        },
                        hitos:[],
                        imagenes:[]
                    }
                }
            },

            crear_update_tur(){
                const self = this;

                if(this.datos.informacion.id == undefined){
                    axios.post('/api/tures/crear', this.datos.informacion)
                    .then( msg => {
                        self.datos.informacion = msg.data;
                        self.tures.unshift(Object.assign({}, msg.data));
                        adminBus.$emit('toast-fire', 'Tour Creado');
                    });
                }else{
                    axios.post('/api/tures/editar/'+this.datos.informacion.id,
                        this.datos.informacion)
                    .then( msg => {
                        self.datos.informacion = msg.data;

                        self.tures.forEach((t, i) => {
                            if(t.id == msg.data.id){
                                self.tures[i] = Object.assign({}, msg.data);
                            }
                        });

                        adminBus.$emit('toast-fire', 'Informacion Actualizada');
                    });
                }
            },

            pedirInformacion(){
                const self = this;
                axios.post('/api/tures/ver/'+this.datos.informacion.id,
                    this.datos.informacion)
                    .then( msg => {
                        self.datos.hitos = msg.data.hitos;
                        self.datos.imagenes = msg.data.imagenes;
                    });
            },

            crear_update_hito(){
                const self = this;
                if(this.hito.id == undefined){
                    axios.post('/api/hitos/crear', this.hito)
                    .then( msg => {
                        self.datos.hitos.unshift(Object.assign({}, msg.data));
                        this.cambiarPanel(null);
                        adminBus.$emit('toast-fire', 'Hito Creado');
                    })
                }else{
                    axios.post('/api/hitos/editar/'+this.hito.id, this.hito)
                    .then( msg => {
                        self.datos.hitos.forEach((h, i)=>{
                            if(h.id == msg.data.id){
                                self.datos.hitos[i] = Object.assign({}, msg.data);
                                adminBus.$emit('toast-fire', 'Informacion Actualizada');
                            }
                        });
                        this.cambiarPanel(null);
                    })
                }
            },

            deleteHito(id){
                const self = this;
                this.busDatos.$emit('fire-confirm', {
                    message:'Esta eliminando un Hito',

                    call:function(){

                        axios.post('/api/hitos/eliminar/'+self.datos.hitos[id].id)
                        .then(d => {
                            const hitos = [];
                                self.datos.hitos.forEach(t => {
                                if(t.id != d.data.id){
                                    hitos.push(t);
                                }
                            });
                            self.datos.hitos = hitos;
                            adminBus.$emit('toast-fire', 'Hito Eliminado');
                        });
                    }
                });
            },

            crearImagen(e){
                let form = new FormData(e.target);
                const self = this;
                axios.post('/api/imagenes/crear', form)
                .then(d => {
                    self.datos.imagenes = Object.assign([], d.data);
                    self.cambiarPanel(null);
                    adminBus.$emit('toast-fire', 'Imagenes Subida');
                });
            },

            deleteImagen(id){
                const self = this;
                this.busDatos.$emit('fire-confirm', {
                    message:'Esta eliminando una Imagen',

                    call:function(){

                        axios.post('/api/imagenes/eliminar/'+self.datos.imagenes[id].id)
                        .then(d => {
                            let imgs = self.datos.imagenes.filter((img, i) => {
                                if(img.id != d.data.id){
                                    return img;
                                }
                            });
                            self.datos.imagenes = Object.assign([], imgs);
                            adminBus.$emit('toast-fire', 'Imagen Eliminada');
                        });
                    }
                });
            },
            deleteTur(id){
                const self = this;
                this.busDatos.$emit('fire-confirm', {
                    message:'Esta eliminando un tour',

                    call:function(){
                        self.detalle = false;
                        axios.post('/api/tures/eliminar/'+self.tures[id].id)
                        .then(d => {
                            self.tures = self.tures.filter((tur, i) => {
                                if(tur.id != d.data.id){
                                    return tur;
                                }
                            });

                            self.detalle  = false;
                            self.item = null;
                            adminBus.$emit('toast-fire', 'Tour Eliminado');
                        });
                    }
                });
            }
        },

        mounted(){
            const self = this;
            /* cargar tures */
            axios.post('/api/tures/todos')
                .then(d => {
                    self.tures = d.data;
                });
        },

        components:{
            leftPanel,
            confirmModal

        },

        directives:{
            currency
        }
    }
</script>

<style>

</style>
